<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>履歴</title>
</head>
<body class="d-flex">
    <h1>test:<%= searchArray[0].auction_id %></h1>
    <%- include('partials/sidebar') %>
    <div class="container flex-grow-1">
        <div class="overflow-auto">
            <h1 class="fw-bold">入札履歴</h1>
            <table class="table table-bordered table-hover">
                <thead class="table-light">
                    <form action="/mypage" method="get">
                        <tr>
                            <th class="border-black border px-1 w-28"><input class="w-24 text-center" name="auction_id" type="number" value="<%= searchArray[0].auction_id %>"></th>
                            <th class="border-black border px-1 w-28"><input class="w-24 text-center" name="listing_id" type="number" value=""></th>
                            <th class="border-black border px-1 w-24"><input class="w-20 text-center" name="bid_id" type="number" value=""></th>
                            <th class="border-black border px-1 w-24">
                                <label for="fruits"></label>
                                <select class="w-20" name="car_type">
                                    <option value="car_type"></option>
                                    <% const uniqueCarTypes = new Set();
                                    bit.forEach(item => { uniqueCarTypes.add(item.car_type );});%>
                                    <% uniqueCarTypes.forEach(car_type => { %>
                                        <option value="<%= car_type %>"><%= car_type %></option>
                                    <% }) %>
                                </select>
                            </th>
                            <th class="border-black border px-1 w-44"></th>
                            <th class="border-black border px-1 w-24"></th>
                            <th class="border-black border px-1 w-44"></th>
                            <th class="border-black border px-1 w-12"></th>
                            <th class="border-black border px-1 w-24"><button class="btn btn-primary w-100 bg-black rounded px-4 text-white">検索</button></th>
                        </tr>
                    </form>
                    <tr>
                        <th>オークションID</th>
                        <th>リスティングID</th>
                        <th>入札ID</th>
                        <th>車種</th>
                        <th>入札日時</th>
                        <th>入札金額</th>
                        <th>終了日時</th>
                        <th>状態</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% if (bit && bit.length > 0) { %>
                        <% bit.forEach(item => { %>
                            <% if(searchArray[0].auction_id == null || searchArray[0].auction_id == item.auction_id  ){ %><!-- auction_idの検索に利用 -->
                            <% if(searchArray[0].listing_id == null || searchArray[0].listing_id == item.listing_id  ){ %><!-- listing_idの検索に利用 -->
                            <% if(searchArray[0].bid_id == null || searchArray[0].bid_id == item.bid_id  ){ %><!-- bid_idの検索に利用 -->
                            <% if(searchArray[0].car_type == null || searchArray[0].car_type == item.car_type  ){ %><!-- car_typeの検索に利用 -->
                                <tr>
                                    <td><%= item.auction_id %></td>
                                    <td><%= item.listing_id %></td>
                                    <td><%= item.bid_id %></td>
                                    <td><%= item.car_type %></td>
                                    <td><%= item.bid_datetime %></td>
                                    <td><%= item.bid_amount %></td>
                                    <td><%= item.end_datetime %></td>
                                    <td><%= item.auction_status %></td>
                                    <td>
                                        <form action="/bid" method="get" class="text-center">
                                            <input type="hidden" name="listing_id" value="<%= item.listing_id %>">
                                            <input type="hidden" name="end_datetime" value="<%= item.end_datetime %>">
                                            <button class="btn btn-primary btn-sm">ページへ</button>
                                        </form>
                                    </td>
                                </tr>
                            <% }; %>
                            <% }; %>
                            <% }; %>
                            <% }; %>
                        <% }); %>
                    <% } else { %>
                        <tr>
                            <td colspan="9" class="text-center py-2">入札履歴がありません</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

        <div class="overflow-auto mt-4">
            <h1 class="fw-bold">落札履歴</h1>
            <table class="table table-bordered table-hover">
                <thead class="table-light">
                    <tr>
                        <th class="border-black border w-24">オークションID</th>
                        <th class="border-black border w-24">入札ID</th>
                        <th class="border-black border w-24">リスティングID</th>
                        <th class="border-black border w-24">車種</th>
                        <th class="border-black border w-24">落札金額</th>
                        <th class="border-black border w-44">落札日時</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (successfulbid && successfulbid.length > 0) { %>
                        <% successfulbid.forEach(item => { %>
                            <tr>
                                <td><%= item.auction_id %></td>
                                <td><%= item.bid_id %></td>
                                <td><%= item.listing_id %></td>
                                <td><%= item.car_type %></td>
                                <td><%= item.successfulbid_amount %></td>
                                <td><%= item.successfulbid_datetime %></td>
                            </tr>
                        <% }); %>
                    <% } else { %>
                        <tr>
                            <td colspan="6" class="text-center py-2">落札履歴がありません</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
